//Header sektion 
header {
  display: flex;
  gap: 1rem;
}

.tekstAfsnit {
  width: 50%;
  color: $white;
  margin-top: 100px;
}

.tekstAfsnit p {
  margin-top: 100px;
  width: 70ch;
}

header img {
  width: 50%;
  max-height: 500px;
  margin-top: 100px;
}

//Aktivitetscards start
.activityCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}

.activityCards a {
  text-decoration: none;
  color: $greenBlack;
  text-align: left;
  font-size: 1.8rem;
}

.activityCards article {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0 0 1.5rem 0;
}

.activityCards img {
  width: 40rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 16px;
}

.activityCards h2 {
  font-size: 2rem;
  text-align: left;
}

//Knap nederst på siden

.map-sektion {
  text-align: center;
  padding: 40px 20px;

  a {
    font-family: "overpass", sans-serif;
  }
}

.map-sektion h2 {
  font-size: 1.5em;
  color: $greenBlack;
}

.map-btn {
  display: inline-block;
  font-weight: bold;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: $greenBlack;
  background-color: $accent;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.map-btn:hover {
  background-color: $accentHover;
}