#Priser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
    margin: 0 0 2rem 0;
}

#Hojseason {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
}

#lavseason-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px;
}

#lavseason-heading {
    padding: 20px;
}

#lavseason-heading {

    h3,
    p {
        text-align: center;
    }
}

#billetPriser, #overskriftÅbningstider{
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    color: $greenBlack;
}
#Åbningstider{
    background: $secondaryGreen;
}