.animalDetailCard {
  display: flex;
  margin-top: 10vh;
  width: 95%;
  box-sizing: border-box;
  overflow: hidden;
  height: 90vh;
}


.animalDetailCard img {
  border-radius: 20px;
  width: 50%;
  height: 600px;
  object-fit: cover;
  margin-top: 200px;
}

.animalInfo {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10vh;
}

.animalInfo h1 {
  margin-bottom: 50px;
  color: $white;
  font-weight: bold;
}
.animalInfo h3 {
  color: $primaryGreen;
  font-weight: bold;
}

.infoBoxes {
  display: flex;
  height: 23vh;
  width: 100%;
  justify-content:space-between;
  margin-bottom: 50px;
}
.iconAndHeading {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.infoBox {
  background: #f7f7f7;
  border-radius: $BorderRadius;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoBox p {
  margin-top: 5vh;
  color: $greenBlack;
}
#tilbageBtn {
  background-color: $accent;
  color: $greenBlack;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;
}

#tilbageBtn:hover {
  background-color: $accentHover;
}
