footer {
  position: static;
  height: 13vh;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "overpass", sans-serif;
  background: $generalBackground;
  display: flex;
  padding: 4rem 10vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -4px 4px 0px rgba(34, 34, 34, 0.1);

  img {
    max-height: 135px;
  }

  .footLinks {
    display: flex;
    flex-direction: column;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin: .5rem 0;

        a {
          text-decoration: none;
          color: $greenBlack;

          &:hover {
            transition: 0.2s ease-in-out;
            color: $accentHover;
          }
        }
      }

    }
  }

  .footIcons {
    font-size: 2rem;
    
    a {
      margin: 0 .2rem;
      color: $greenBlack;

      &:hover {
        color: $accentHover;
      }
    }
  }
}