nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "overpass", sans-serif;
  background: $primaryGreen70;
  backdrop-filter: blur(10px) saturate(160%) contrast(45%) brightness(140%);
  display: flex;
  height: 10vh;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-height: 100px;
  }

  ul {
    list-style: none;
    color: $white;
    display: flex;

    li {
      margin: 0.5rem;

      a {
        padding: 0.5rem;
        color: $white;
        text-decoration: none;

        &:hover {
          transition: 0.1s ease-in-out;
          color: $accentHover;

          i {
            transition: 0.1s ease-in-out;
            color: $secondaryGreen;
          }
        }
      }

      span {
        padding: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

.dropdown {
  ul {
    display: none;
    opacity: 0;
  }

  &:hover {
    transition: 0.1s ease-in-out;

    ul {
      display: block;
      opacity: 1;
      position: absolute;
      top: 50%;
      transition: opacity 0.2s ease-in-out;
    }

    span {
      transition: 0.1s ease-in-out;
      color: $accentHover;
    }

    i {
      transition: 0.1s ease-in-out;
      color: $secondaryGreen;
    }

    .fa-angle-down {
      transition: 0.1s ease-in-out;
      color: $accentHover;
    }
  }

  .dropdownList {
    li {
      margin: 1rem 0;
    }

    a {
      padding: 0.5rem;
      background: $greenBlack;
      border-radius: 20px;
      display: block;

      &:hover {
        color: $greenBlack;
        background: $accentHover;
      }
    }
  }
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 1rem;

  div {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondaryGreen;
    border-radius: 50%;

    a {
      text-decoration: none;
      display: flex;
    }

    &:hover {
      transition: 0.2s ease-in-out;
      background: $accentHover;
      cursor: pointer;
    }

    i {
      margin: 0;
      padding: 0;
      color: $greenBlack;
    }
  }
}
