
.grillSectionLayout h3 {
    font-size: $subheadingText;
    padding: 2rem;
}


#grillLeje {
    font-size: 20px;
}

.grillSectionLayout {
    display: flex;
    
}

.grillSectionLayout p {
    margin: 2rem;
}

#grillImg {
    width: 50vh;
    height: 50vh;
}

.imageContainerGrill {
    width: 80%;
    height: auto;
}

.grillTyper {
    display: flex;
    font-size: $breadText;
}

.grillTyper p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    }
    
.grillType {
      width: 60%;
      padding:  0 8rem 0 0;
    
}

.grillTyper span {
    font-weight: bold;
    font-size: 25px;
    margin-right: 0.5rem;
    padding-bottom: 2rem;
}
