.headerContent {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  color: $white;
  margin: auto;
  padding: 2rem 0;
  width: 80vw;
  display: flex;
  justify-content: space-between;

  .leftContent {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .headerTextOplevelser {
      width: 50%;
    }

    .headerBtns {
      display: flex;
      gap: 1rem;
      font-family: "overpass", sans-serif;

      a {
        text-decoration: none;
      }

      span {
        text-transform: uppercase;
        color: $greenBlack;
      }

      div {
        border-radius: 18px;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }

      .aabningstiderBtn {
        background: $secondaryGreen;
      }

      .koebBilletBtn {
        background: $accent;
      }
    }

    .openToday {
      margin: 1rem 2rem;

      #maskot {
        position: absolute;
        bottom: 0;
        left: 4rem;
      }

      h3 {
        font-family: "overpass", sans-serif;
      }

      span {
        font-family: "fredoka", sans-serif;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }

  .imgContainer {
    img {
      width: 100%;
    }
  }
}



.sections section {
  grid-column: span 2;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem ;

  h2 {
    color: $greenBlack;
    margin: 0 0 1rem 0;
  }

  p {
    margin: .5rem 0;
    color: $greenBlack;
  }

  a {
    margin: auto;
  }

  .sectionContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .box {
      color: $greenBlack;
      p {
        width: 100%;
      }

      h3 {
        text-transform: uppercase;
      }

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        padding: 0;
        border-radius: .5rem;
      }
    }
  }

  .infoContainer {
    color: $greenBlack;
    display: flex;
    justify-content: space-around;
    p {
    }
    .infoFarm {
      font-family: 'overpass', sans-serif;
      text-align: center;

      span {
        font-family: 'fredoka', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
      }

    }
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &.gradientBgr {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
    background: $secondaryGreen70;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
  }

  &.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &.imgGalleri {
    & img {
      height: 150px;
      width: 150px;
      object-fit: cover;
      padding: 0;
      border-radius: 1rem;
    }
  }

  img {
    border-radius: 50rem;
    padding: 2rem;
    flex: 1;
    max-height: 300px;
    object-fit: cover;
  }
}

a {
  inherit: all;
  width: fit-content;
}

.btn {
  background: $accent;
  color: $greenBlack;
  padding: 10px 20px;
  border-radius: .8rem;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: 'overpass', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 1rem 0;

  &:hover {
    background: $accentHover;
  }
}

.slideMedKnapper {
  position: relative;
  overflow: hidden;
}
 
.slideGalleri {
  display: flex;
  transition: transform 0.5s ease;
  gap: 1rem;
}
 
.slideGalleri img {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
}
 
.tilbage,
.frem {
  position: absolute;
  top: 50%;
  background-color: $accent;
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.tilbage {
  left: 0;
}
 
.frem {
  right: 0;
}
 
.fa-solid {
  opacity: 50%;
}