/* Op til 1000px */
@media screen and (max-width: 1000px) {

    /* Generelle font sizes */
    /* Heading text */
    .mainContent h1 {
        font-size: 40px;
    }

    .mainContent h2 {
        font-size: 35px;
    }

    .mainContent h3 {
        font-size: 35px;
    }

    .mainContent h4 {
        font-size: 35px;
    }

    /* Grid 3 columns - 1000px */
    .oversigtskortCards {
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* Grid 2 columns - 1000px */
    .praktiskeOplysningerCards {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Oversigtskort */
    .oversigtskortCards div {
        height: 15vh;
    }

    /* Praktisk information side */
    .findVejWrapper {
        display: flex;
        flex-direction: column;
    }
    .findVejWrapper article p {
        margin: 2rem 8rem 2em;
    }

    /* Om Farm Fun side */
    .omFarmFunHistory {
        margin: 1rem;
    }
    .omFarmFunIntrowrapper {
        display: flex;
        flex-direction: column;
        margin: 3rem;
        height: 100%;
    }
    .omFarmFunIntrowrapper div h2 {
        margin-top: 2rem;
    }
    .omFarmFunHistory p,
    .omFarmFunSummary p {
        padding: 1.5rem;
    }
    .omFarmFunHistory h4,
    .omFarmFunSummary h4 {
        margin-left: 1.5rem;
    }
    .omFarmFunHistory img {
        padding: 2rem;
        height: auto;
    }

    .localNav {
        margin: 0;
    }
    .localNav a {
        margin: 1rem;
    }

    .mainContent .omFarmFunHistory p,
    .omFarmFunSummary p, .omFarmFunHistory h4,
    .omFarmFunSummary h4 {
        padding: 0.8rem;
    }
    .mainContent .omFarmFunHistory h4,
    .omFarmFunSummary h4 {
        margin: 0;
    }

    /* Grill side */
    .grillType {
        width: 50%;
        padding-right: 2rem;
    }

    /* Sponsor side */
    .sponsoratSectionLayout p {
        padding: 0;
    }
}

/* For op til 800px */
@media screen and (max-width: 800px) {

    /* Generelle font sizes */
    /* Heading text */
    .mainContent h1 {
        font-size: 30px;
    }

    .mainContent h2 {
        font-size: 25px;
    }

    .mainContent h3 {
        font-size: 25px;
    }

    /* Bread text mobile */
    .mainContent p, .mainContent li {
        font-size: 15px;
    }

    /* Grids */
    /* Grid 2 columns - 800px */
    .oversigtskortCards {
        grid-template-columns: repeat(2, 1fr);
        font-size: 13px;
    }

    /* Grid 1 column - 800px */
    .praktiskeOplysningerCards, .omFarmFunHistory article {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Om Farm Fun side */
    .omFarmFunHistory article {
        margin: 0;
    }

    .omFarmFunSummary {
        margin: 0;
    }

    .localNav a {
        margin: 1rem;
    }

    /* Grill side */
    .grillSectionLayout {
        flex-direction: column;
        margin: 1rem;
    }
    .imageContainerGrill {
        display: flex;
        justify-content: center;
        width: 100%;
        order: -1;
    }
    #grillImg {
        margin-bottom: 2rem;
    }
    .grillTyper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .grillType {
        width: 100%;
        padding-right: 4rem;
    }

    /* Sponsor side */
    .sponsoratSectionLayout {
        flex-direction: column;
        margin: 1rem;
    }
    .imageContainerSponsor {
        order: -1;
        display: flex;
        justify-content: center;
    }
}

/* For op til 500px */
@media screen and (max-width: 500px) {
    /* Generelle font sizes */
    /* Heading text */
    .mainContent h1 {
        font-size: $headingTextMobile;
    }

    .mainContent h2 {
        font-size: $headingTextMobile;
    }

    .mainContent h3 {
        font-size: $subheadingTextMobile;
    }

    .mainContent h4 {
        font-size: $subheadingTextMobile;
    }

    .mainContent a h5 {
        font-size: 13px;
    }

    /* Bread text mobile */
    .mainContent p, .mainContent li {
        font-size: $breadTextMobile;
    }

    .mainContent .omFarmFunIntrowrapper h2 {
        font-size: $headingTextMobile;
    }

    .mainContent .omFarmFunIntrowrapper div p {
        font-size: $breadTextMobile;
    }

    /* generel width */
    .mainContent {
        width: 90vw;
    }

    /* Mobile grid: 1 column */
    .oversigtskortCards {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Praktisk information side */
    .findVejWrapper article p {
        margin: 2rem 4rem 2em;
    }

    .localNav a {
        margin: .8rem;
    }
    .omFarmFunIntrowrapper div h2 {
        margin-top: 2rem;
    }

    /* Grill side */
    .grillSectionLayout h3 {
        margin-bottom: 0;
    }
    .grillSectionLayout p {
        margin-top: 0;
    }
}
