#oversigtskortOgBeskrivelse p {
    margin-top: 2rem;
}

#oversigtskortIMG {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.oversigtskortOverskift {
    font-size: $subheadingText;
    color: $primaryGreen;
    text-align: center;
    margin: 2rem;
}

.oversigtskortCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.oversigtskortCards div {
    background-color: $white;
    margin: 1rem;
    border-radius: $BorderRadius;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.oversigtskortCards div p {
    font-size: 13px;
}


.oversigtskortCards div span,
.oversigtskortCards div i {
    color: $secondaryGreen;
    font-size: $subheadingText;
    padding: .5rem;
    margin-right: .5em;

}