

.findVejWrapper {
    margin-bottom: 1rem;
    gap: 1rem;

    display: flex;
}
.findVejWrapper article, .findVejWrapper iframe {
    background-color: $white;
    border-radius: $BorderRadius;
    width: 100%;

}

.findVejWrapper article h2 {
    text-align: center;
    margin-top: 2rem ;

}

.findVejWrapper article h3 {
    text-align: center;
}

.findVejWrapper article p {
    margin: 3rem 8rem 0;

}

.praktiskeOplysningerCards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.praktiskeOplysningerCards article {
    background-color: $white;
    border-radius: $BorderRadius;
    width: 100%;
    height: 100%;


}

.praktiskeOplysningerCards article li {
    padding: .3rem;
}

.praktiskeOplysningerCards article span{
    font-weight: bold;
}


.praktiskeOplysningerCards h4 {
    margin: 1rem;
    text-align: center;
}
.praktiskeOplysningerCards ul {
    margin: 2rem;
}