.card-content-container-no-grid{
    padding: 60px;
}
#privateEvents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}
#birthday-content{
    padding: 2rem;
}
#birthday-content p {
    padding-top: 1rem;
}


#image-grid{
    width: 100%;
    border-radius: 20px;
}


#imageBirthday {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 2rem;

}


