.sponsoratSectionLayout {
    display: flex;
}

.sponsoratSectionLayout p {
    margin: 2rem;
    padding-right: 20vw;
}

.sponsoratSectionLayout p:nth-of-type(1) {
    padding-bottom: 2rem;
}

.sponsoratSectionLayout li {
    margin: 0 2rem 2rem 2rem;
}

#boldTextSponsor {
    font-weight: bold;
}

#SponsorIMG {
    width: 50vh;
    height: 50vh;
}

.imageContainerSponsor {
    width: 80%;
    height: auto;
    margin: 2rem;
    
}

