// _variables.scss
// colours
$primaryGreen: #679578;
$primaryGreen70: rgba(103, 149, 120,0.7);
$secondaryGreen: #B9C879;
$secondaryGreen70: rgb(185, 200, 121,0.7);
$accent: #FFB780;
$accentHover: #FF9940;
$greenBlack: #1A4A3F;
$white: #F2F2F2;
$greenGradient: linear-gradient(to top,#B9C879, #679578);
$generalBackground: #CBD5CF;
// sizings

// text
$breadText: 1rem;
$headingText: 4rem;
$subheadingText: 2rem;