// _variables.scss
// colours
$primaryGreen: #679578;
$primaryGreen70: rgba(103, 149, 120,0.7);
$secondaryGreen: #B9C879;
$secondaryGreen70: rgb(185, 200, 121,0.7);
$accent: #FFB780;
$accentHover: #FF9940;
$greenBlack: hsl(166, 48%, 15%);
$white: #F2F2F2;
$greenGradient: linear-gradient(to top,#B9C879, #679578);
$generalBackground: #CBD5CF;
// sizings


// Text desktop
$breadText: 1.1rem;
$headingText: 3rem;
$subheadingText: 2rem;


// Text mobile
$breadTextMobile: 1rem;
$headingTextMobile: 2rem;
$subheadingTextMobile: 1.5rem;

// Border radius
$BorderRadius: 10px;
