.foodCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

.foodCards a {
  text-decoration: none;
  color: #1a4a3f;
  text-align: left;
  font-size: 1.8rem;
}

.foodCards article {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.foodCards img {
  width: 800px;
  height: 400px;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

.kioskTekst {
  text-align: center;
  color: #1a4a3f;
}

.kioskTekst ul {
    
}
