@use "./variables" as *;

// typography
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

// general styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fredoka", sans-serif;
  }

  p {
    font-family: "Overpass", sans-serif;
  }
}

body {
  background: $generalBackground;
}

header {
  margin: 10vh 0 4vh 0;
  background: $greenGradient;

  &.headerFullsize {
    height: 90vh;
  }

  &.headerWave {
    background-image: url(../img/ShortWavyHeader.png);
    background-position: bottom;
    padding: 5rem;    
    h1 {
      margin: auto;
    }
  }

  h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: $white;
  }
}

main {
  background: $generalBackground;
  min-height: 76vh;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
}

.mainContent {
  margin-bottom: 5vh;
  grid-column: 2 / span 2;
}

.gradiantBackground {
  background: $greenGradient;
}

// Style-sheet import - HAS TO BE LAST IN THE FILE!
// De er sorteret i alfabetisk rækkefølge
@import "aktiviteter", "billetterOgPriser", "dyrePasserTur", "enkeltDyr", "enkelteAktiviteter", "footer", "globalNav", "grill", "indexForside", "kiosk", "kontakt", "mediaQueries", "omFarmFun", "overnatningiParken", "oversigtsKort", "praktiskInformation", "privateEvents", "sponsorat", "stickyKontakt", "voresDyr", "undervisningsBesoeg";