@use "./variables" as *;

// typography
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

// general styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $generalBackground;
}

header {
  margin: 10vh 0 4vh 0;
  background: $greenGradient;

  &.headerFullsize {
    height: 90vh;
  }

  &.headerWave {
    height: 25vh;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.28);
  }
}

main {
  background: $generalBackground;
  min-height: 76vh;
}

.mainContent {
  margin: 0 auto 10vh auto;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

// Style-sheet import - HAS TO BE LAST IN THE FILE!
// De er sorteret i alfabetisk rækkefølge
@import "aktiviteter", "billetterOgPriser", "dyrePasserTur", "enkeltDyr", "enkelteAktiviteter", "footer", "globalNav", "grill", "indexForside", "kiosk", "kontakt", "mediaQueries", "omFarmFun", "overnatningiParken", "oversigtsKort", "praktiskInformation", "privateEvents", "sponsorat", "stickyKontakt", "undervisningsBesoeg", "voresDyr";